
<div class="mat-elevation-z0">
    <table mat-table [dataSource]="studentsubmit">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width:40%;color: black;"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fName}} {{element.lName}} </td>
        </ng-container>

        <ng-container matColumnDef="datesub">
            <th mat-header-cell *matHeaderCellDef  style="width:40%;color: black;"> FileName </th>
            <td mat-cell *matCellDef="let element"> {{element.FileName}} </td>
        </ng-container>


        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef  style="width:40%;color: black;"> Remarks </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
        </ng-container>

        <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef  style="width:30%;color: black;" > Date Submitted </th>
            <td mat-cell *matCellDef="let element"> {{element.TimeStamp}} </td>
        </ng-container>
        


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowclick(row)">
        </tr>
    </table>


    <mat-paginator [length]="total" [pageSize]="pageSize" [pageIndex]='pageNo - 1'
     aria-label="Select page">
</mat-paginator>
</div>
