<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Feel Free To Contact us</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="/assets/logo.png" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">Email</label>
          <input type="text" id="fname" name="firstname" placeholder="staRitaNational@gmail.com" disabled>
          <label for="lname">Contact Number</label>
          <input type="text" id="lname" name="lastname" placeholder="09123456789" disabled>
          <label for="country">Telephone Number</label>
          <input type="text" id="lname" name="lastname" placeholder="123-4567-123" disabled>
          <label for="subject">You can also visit us in </label>
          <textarea id="subject" name="subject" placeholder="Sta. Rita National HighSchool " disabled></textarea>
        </form>
      </div>
    </div>
  </div>