<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <div class="content">
        <h2>Information Collection and Use</h2>
        <div>Our school website may collect and use personal information for various purposes related to providing educational services and maintaining a safe and efficient learning environment. The types of information we collect and how we use them </div>
        
        <h2>Log Data</h2>
        <div>Our school website may automatically collect certain log data when you visit or interact with our website.</div>
        
        <h2>Cookies</h2>
        <div>Our school website uses cookies to enhance your browsing experience and provide personalized features. Cookies are small text files that are stored on your device when you visit our website. They help us remember certain information about your preferences and interactions with our site.</div>
        
        <h2>Security</h2>
        <div>We take the security of your personal information seriously and have implemented appropriate technical and organizational measures to safeguard it. Our school website employs industry-standard security practices to protect against unauthorized access, use, disclosure, alteration, or destruction of personal information.</div>
        
        <h2>Changes to This Privacy Policy</h2>
        <div>We may update this privacy policy from time to time to reflect changes in our information practices or legal requirements. Any modifications will be effective when we post the updated privacy policy on our school website.</div>
    </div>
    <footer>
        <p>&copy; 2023 Sta. Rita National HighSchool All rights reserved.</p>
    </footer>
</body>