<div id="sidecard">
   <mat-list >
   
      <mat-list-item mat-ripple class="child_option" [routerLink]="'/home'"><mat-icon matPrefix>home</mat-icon>Home</mat-list-item>
      <br>
      <br>
      <mat-list-item mat-ripple class="child_option" (click)="open()"><mat-icon matPrefix>contact_phone</mat-icon>Contact Us</mat-list-item>
      <br>
      <mat-list-item mat-ripple class="child_option" [routerLink]="'/login'"><mat-icon matPrefix>lock</mat-icon>Login</mat-list-item>
      <br>
      <mat-list-item mat-ripple class="child_option"> <button mat-raised-button id="signupbttn" (click)="signup()">Sign Up</button> </mat-list-item>
   </mat-list >
</div>
